.cartao-verso{
    background-image: url('/public/imagens/bg-card-back.png');
    background-size: cover;
    display: grid;
    color: #ffffff;
    width: 420px;
    height: 230px;
    border-radius: 10px;
    text-align: center;
    align-content: space-evenly;
    z-index: 100;
    padding: 10px 0px;
    box-sizing: border-box;
}

.cvc{
    width: 360px;
    text-align: right;
    height: 30px;
}

@media screen and (max-width: 480px){
  .cartao-verso{
    width: 250px;
    height: 150px;
    background-position: center;
    position: relative;
    left: 30px;
    z-index: 0;
  }

  .cvc{
    width: 220px;
    font-size: 14px;
    height: 25px;
  }
}
