.cartao-frente{
    background-image: url('/public/imagens/bg-card-front.png');
    background-size: cover;
    display: grid;
    grid-template-rows: 35% 45% 20%;
    color: #ffffff;
    position: absolute;
    top: 60px;
    left: 160px;
    width: 420px;
    height: 230px;
    border-radius: 10px;
    text-align: center;
    align-content: space-evenly;
    z-index: 100;
    padding: 10px 0px;
    box-sizing: border-box;
}

.cartao__frente_dados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

.validade{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo_cartao{
    margin-left: 30px;
    justify-self: left;
    align-self: center;
}

.cartao__numero{
    font-size: 30px;
    letter-spacing: 0.07em;
}