.App {
  background-image: url('../public/imagens/bg-main-desktop.png');
  height: 100vh;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 50px;
  z-index: -10;
  box-sizing: border-box;
}
